.nav-link
{
    color: green;
}
.boton
{
    background: #025157;
    border-radius: 10px;
}
.titulo
{
    color: #025157;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Helvetica, sans-serif;
    font-size: 40px;
}
.card
{
    margin-left: 1% !important;
}
.container-matcha, .imagenes, .icono-trusted
{
    margin-top: 1% !important;
}
.iconos-trusted > div
{
    margin-left: 2%;
    margin-top: 2%;
}
.stop
{
    padding-right:50% ;
}
.stop > h1{
    color: #025157;
    font-family: vesterbroextrabold,Arial,sans-serif;
}
.abajo > p
{
    font-size: 10px;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    opacity: .4;
}
.container-matcha
{
    margin-top: 10% !important;
}
.imagenes > p 
{
    opacity: .4;
}